.hidden { display: none;}



body {font-size: 20px; padding: 2em; background: 	#000000;
 }


.logo img{ width: 125px;
    position: absolute;
    top: 5px;
    left: 30px;}
   


h2 { text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
}

h2:first-of-type {font-family: 'Reggae One', cursive; font-weight: 700;}


ul li {display: flex;
	flex-direction: row;
    text-align: center;
	margin: 20px;}
    
ul{display: flex;
	flex-direction: row;
    justify-content: center ;
    text-align: center;
    margin-top: 40px;
   }

ul li a:first-Child { color: #cceeff; }
ul li:last-child  { color: #ff8080; }
ul li a:nth-child(2) { Color:#d9b3ff; }
ul li:nth-child(3) { Color: #ccff99;}
ul li:nth-child(4) { Color: #ffe066;}


.background{width: 100%;}
img{ width: 100%;}


.row{
	display: flex;
	align-items: center;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-right: 60px;

}

.col-2 h2{
	font-size: 40px;
	line-height: 40px;
    padding-top: 40px;;
    padding-right: 30px;
}

.col-2 p{
    color: white;
    padding: 25px;
}
.btn{
	display: flex;
	flex-direction: row;
	background: #ff523b;
	color: #fff;
	padding:8px 10px;
    
	margin: 30px 30px;
    border-radius: 10px;
    transition: background 0.5s;
    justify-content: center;
}
.btn:hover{
	background: #563434;
}

 .col-4{   
    flex-basis: 20%;
    padding: 10px; 
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
 
 }
 .col-4 img{
     width:100%;
 
 }
 .title{
     text-align: center;
     margin: 0 auto 80px;
     position: relative;
     line-height: 60px;
     color: #555;
 }
 
 .title:after{
     
     background: #ff523b;
     width: 80px;
     height: 5px;
     border-radius: 5px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
 }
 
 
 h4{
     color: #555;
     font-weight: normal;
     font-size: 20px;
 }

.col-4 p{
	font-size: 18px;
	margin: 5px;
}
.col-4:hover{
	transform: translateY(-5px);
}

.pic2{
  width: 50%;
  margin: 1em;
}
.pic3{
  width: 50%;
  margin: 1em;
 float: left;
}

h3 {margin: 1.5em;
   font-size: 2em;
   text-transform: uppercase;
   text-align: center;
   color: white;}
h3:first-of-type{font-family: 'Major Mono Display', monospace;}


h3 + p::first-letter { font-size: 2em;}
h3 + p::first-line { font-size: 1.5em;}
.para1{
color: #ffff99;
float: left;
width: 45%;
padding-top: 35px;

font-size: 26px;}

p:first-of-type{font-family: 'Newsreader', serif;}

.para2{
color: #b3ffb3;
float: right;
width: 45%;
padding-top: 100px;

font-size: 26px;}

p:first-of-type{font-family: 'Newsreader', serif;}

.para3{
  padding-top: 45%;
  padding-bottom: 10%;
     font-size: 2em;

     text-align: center;
     color:   #c2f0f0;
}

aside:first-of-type{font-family: 'Sigmar One', cursive;}

.para4{
color:  	#ffcce6;
width: 100%;
font-size: 26px;
text-align: center;
padding-bottom: 20px;}


h4{margin: 1.5em;
   font-size: 2em;
   text-transform: uppercase;
   text-align: center;
   color: white;}

h1:first-of-type{font-family: 'Monoton', cursive;}

h1{margin: 1.5em;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: white;}

.para5{

  padding-bottom: 10%;
     font-size: 2em;

     text-align: center;
     color:   #FF7F50;

}

/*---------footer--------*/


.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
   
}
.footer{
	background: #000;
	color:#8a8a8a;
	font-size: 10px;
    
}
.footer img{
	width: 125px;
	margin-bottom: 30px;
	padding-left: 30px;
}
.footer p{
	color:white;
	
}
.footer h2{
	color: #fff;
	margin-bottom: 20px;


}

.footer-col-1{
	flex-basis: 30%;
	flex-direction: column;
	flex:1;
}
.footer-col-2{
	flex: 1;
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;


}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin-bottom: 10px;
}
ul{
	list-style-type: none;

}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;

}
.copyright{
	text-align: center;
	
}

 .footer-col-3{
	line-height: 20px;
	flex:1;
	flex-direction: column;
}

.footer-col-4{
	line-height: 20px;
	
	flex: 1;
	flex-direction: column;

}
.footer a{
	color: #fff;
}